* {    
    margin:0;
    padding: 5px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    margin: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.category {
    text-transform: uppercase;
}

.game {
    display: flex;
    margin-bottom: 30px;
}

.game div {
    border: 2px solid black;
    margin: 10px;
    padding: 5px 10px;
}


form { 
    margin: 20px 0;
}
input{
    padding: 10px 10px;
    border: 2px solid black;
}

.sendLetter {
    background-color: #fff;
    border: 2px solid black;
    text-transform: uppercase;
    padding: 10px 10px;
    cursor: pointer;
}

.btn {
    margin-top: 5px;
    background-color: red;
    border: 2px solid black;
    text-transform: uppercase;
    padding: 5px 10px;
    cursor: pointer;
}
p {
    text-transform: uppercase;
}